<!doctype html>
<html ng-app="app">
  <head>
    <title>Timer</title>
  </head>
  <body ng-controller="mainCtrl">
    <div ng-bind="timemsg"></div>
    <button type="button" name="button" ng-click="startTimer()">Start</button>
    <button type="button" name="button" ng-click="pauseTimer()">Pause</button>
    <button type="button" name="button" ng-click="clearTimer()">Clear</button>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script>
      var app = angular.module("app",[]);

      app.controller("mainCtrl", ['$scope', '$log', 'socket', function($scope, $log, socket){
        $log.log("NG is working.")
        $scope.timemsg = 'stop';

        socket.on('chat message', function(msg){
          $scope.timemsg = msg;
        });

        $scope.startTimer = function() {
          socket.emit('chat message', 'start');
        }

        $scope.pauseTimer = function(){
          socket.emit('chat message', 'pause');
        }

        $scope.clearTimer = function(){
          socket.emit('chat message', 'clear');
        }
      }]);

      app.factory('socket', function ($rootScope) {
        var socket = io.connect();
        return {
          on: function (eventName, callback) {
            socket.on(eventName, function () {
              var args = arguments;
              $rootScope.$apply(function () {
                callback.apply(socket, args);
              });
            });
          },
          emit: function (eventName, data, callback) {
            socket.emit(eventName, data, function () {
              var args = arguments;
              $rootScope.$apply(function () {
                if (callback) {
                  callback.apply(socket, args);
                }
              });
            })
          }
        };
      });


    </script>
  </body>
</html>
